ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  h6 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
  }
  
  h6:hover {
   color: #8ac832;
   
  }

#firstabout:hover,#secondabout:hover,#thirdabout:hover,#fourthabout:hover{
    color: #8ac832;}

h4{
    text-shadow: 2px 2px 8px #8ac832;
}