#div_one{
    background-color: #8ac832;
    height: auto;
}
#div_two{
    background-color: white;
    height: auto;
}
#div_main{
    background-color: #e4dede54;
    height: auto;
    
}
.border-gradient {
    border-image-slice: 1;
    border-width: 50px;
  }
.border-gradient-green {
        border-image: linear-gradient(to left, #00C853, #B2FF59);
}
.input_one{
    
        background: transparent;
        border: none;
        border-bottom: 1px solid #000000;
    
}
