#border_1{
    height: auto;
    
}
#border_2{
      background-image: url(../assets/img/ExMyB_Logo.png);
      height: auto;
      background-color: white;
      background: no-repeat;
      border:45px solid url(../assets/img/ExMyB_Logo.png); 
}
#mainform{
    background-color: #f4f4f4;
    height:auto;
    padding: 10px;
    

}
