#formdiv{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 
              0 4px 20px 0 rgba(0,0,0,0.19);
    height: auto;
}

#indiv{
    background-color: #8ac832;
    margin: 20px 20px 20px 20px;
}
h3.panel-title{
   color: white;
}