*{
    font-family: Maven Pro;
}
#home_1, #home_2, #home_3, #home_4, #home_5, #home_6, #home_21, #home_22, #home_31, #home_32{
    color: black;
    font-size: 14px;
}
#home_1:hover,#home_2:hover,#home_3:hover, #home_4:hover, #home_5:hover, #home_6:hover,
#home_21:hover, #home_22:hover, #home_31:hover, #home_32:hover {
    color: #8ac832;
    cursor: pointer;
}
.bo-content, .in-content{
    
    height: auto;
    padding: 2px;
    list-style: none;
    border-top: 2px solid #8ac832;
    text-align: left;
    box-shadow: 1px 1px 2px 2px #cac2c25c;
   
}


