*{
    font-family: Maven Pro;
}
.header {
    position: absolute;
    left: 0;
    z-index: 10;
    height: 90vh;
}

.header-wrapper {
    height: 100.2%;
    width: 30vw;
    min-width: 430px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    transform: translateX(-100%);
}

    .header-wrapper.expanded.has-notif .nav-sub-holder {
        padding-top: 80px;
    }

.header-page-title, .header-search-input {
    font-weight: 400;
    padding: 0 24px;
    line-height: 64px;
}

.header-wrapper:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #222629;
}

.header-wrapper.expanded {
    transform: skew(-20deg);
    top: 0px;
    direction: rtl;
    pointer-events: none;
}

.nav-sub-holder {
    z-index: 10005;
    position: relative;
    padding: 55px 10px;
    direction: ltr;
    transform: skew(20deg);
}

    .nav-sub-holder .inner-skew {
        transform: skew(-20deg) translateX(-110px);
        pointer-events: all;
    }

        .nav-sub-holder .inner-skew .inner-skew-back {
            transform: skew(20deg) translateX(110px);
            display: inline-block;
            width: 100%;
        }

        .nav-sub-holder .inner-skew h1 {
            color: #fff;
            font-size: 2.7rem;
        }
.home-slider-wrapper {
    height: 90vh;
    overflow: hidden;
    background-color: #222629;
}

.homepage-slider {
    width: 200vw;
    padding-left: 36vw;
    font-family: 'Maven Pro', sans-serif;
    background-color: #202020;
}

    .homepage-slider .home-slide {
        width: 40vw;
        height: 100vh;
        float: left;
        transform: skew(-20deg) translate3d(0, 0, 0);
        margin-left: -50px;
        transition: all .5s ease;
        position: relative;
        overflow: hidden;
        perspective: 1px;
    }

.home-slide-inner, .home-slide-inner h4 {
    position: absolute;
    transition: all .5s ease;
}

.home-slide#slide1 {
    margin-left: -6vw;
    background-color: #4caf50;
}

.home-slide#slide3 {
    background-color: #03a9f4;
}

.home-slide#slide2 {
    width: 30vw;
    margin-left: -90px;
}

#slide1.over, .home-slide#slide1:hover {
    width: 56vw;
}

.home-slide#slide2:hover {
    width: 40vw;
    margin-right: -5vw;
    margin-left: -8vw;
}

.home-slide#slide3:hover {
    width: 70vw;
    margin-left: -22vw;
}

.home-slide .para {
    display: none;
}

.homepage-slider .home-slide:hover .home-slide-inner p.para {
    display: block;
    position: absolute;
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-top: 46px;
    width: 53%;
    left: 30%;
    margin: 35px 0 0px;
    line-height: 3vw;
}
.homepage-slider .home-slide:hover .home-slide-inner p.connect{
    display: block;
    position: absolute;
    font-size: 30px;
    color: #000;
    font-weight: 500;
    margin-top: 46px;
    width: 53%;
    left: 30%;
    margin: 35px 0 0px;
    line-height: 3vw;
}

.home-slide-inner {
    height: 100%;
    width: 70vw;
    background-color: #4CAF50;
    background-size: cover;
    transform: skew(20deg) translateX(-20%) translate3d(0, 0, 0);
    cursor: context-menu;
}

#slide1 .home-slide-inner {
    background-color: #4caf50;
    background-image: url(/home/somya/Documents/Exymb/assets/img/bo.png);
    background-position: -100px;

}

/*#slide2 .home-slide-inner {
}*/

#slide3 .home-slide-inner {
    background-color: #03a9f4;
    background-image: url(/home/somya/Documents/Exymb/assets/img/Investor.png);
    background-position: -200px;
}

#slide1.over, .home-slide#slide1:hover .home-slide-inner {
    
    background-color: #ffffff;
}

#slide3.over, .home-slide#slide3:hover .home-slide-inner {
    
    background-color: #ffffff;
}

    #slide1.over .home-slide-inner, .home-slide#slide1:hover .home-slide-inner,
    #slide3.over .home-slide-inner, .home-slide#slide3:hover .home-slide-inner {
        transform: skew(20deg) translateX(-12%) translate3d(0, 0, 0);
    }

.home-slide:hover .home-slide-inner:before {
    content: '';
    z-index: 0;
    transition: .2s ease-out;
    background: -webkit-linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
    background: -moz-linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
    background: linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.home-slide.greyed-out {
    filter: grayscale(100%);
}

.home-slide-inner h1 {
    bottom: 30%;
    width: 53%;
    left: 20%;
    color: #FFF;
    margin-left: 245px;
    margin-top: 269px;
    font-size: 4vw;
    font-weight: 600;
    line-height: 3vw;
    cursor: context-menu;
    text-shadow: 2px 2px #0000007d;
}

.homepage-slider .home-slide:hover .home-slide-inner h1 {
    color: #000000;
    text-shadow: none;
    display: none;
}

.home-slide-inner .filledbutton {
    border: none;
    border-radius: 50px;
    display: inline-block;
    opacity: 0;
    font-weight: 700;
    text-transform: none;
    transition: all .5s ease;
    font-size: 18px;
    width: 200px;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
}

.home-slide-inner h1 .filledbutton {
    display: none;
}

#battext{
    color: black;
    height: 281px;
    margin-left: -6px;
    margin-top: 162px;
    font-size: 20px;
}
#batenroll{
    width: 255px;
    height: 415x;
    background-color: #dbf2bb;
    color: black;
    border: 2px solid black;
    border-radius: 49px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
}
#homeabout{
    width: 100%;
    height: 300px;
    background-color: #f4f4f4;
    
}
#homein{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    
}
#homebo{
    width: 100%;
    height: 600px;
    
   
}
#incardone,#incardtwo,#incardthree,
#incardthree,#incardfour,#incardfive,
#incardsix,#bocardone,#bocardtwo,#bocardthree,
#bocardthree,#bocardfour,#bocardfive,
#bocardsix{
    height: 225px;
    width: 386px;
    background-color: #f4f4f4;
    position: relative;
}
 #incardoneone,#incardtwoone,#bocardoneone,#bocardtwoone{
    height: 129px;
    width: 139px;
    background-color: #dbf2bb;
    margin-top: 42px;
    position: absolute;
    right: 311px;
}
#right,#left{
    margin-top: 100px;
    size: 5px;
}
#right:hover, #left:hover{
    color: #8ac832;
}

#insize,#bosize{
    font-size: 11px;
    margin-left: 259px;
}
#carddata{
    margin-left: 100px;
    font-size: 13px;
    margin-top: -6px;
    margin-right: 37px;
}
#browsein{
    width: 255px;
    background-color:#dbf2bb;
    color: black;
    border: 2px solid black;
    border-radius: 49px;
    padding-left: 38px;
    padding-right: 68px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 113px;
    margin-left: 503px;
}
#browsebo{
    width: 274px;
    background-color: #dbf2bb;
    color: black;
    border: 2px solid black;
    border-radius: 49px;
    padding-left: 32px;
    padding-right: 23px;
    padding-top: 12px;
    padding-bottom: 11px;
    margin-top: 113px;
    margin-left: 503px;

}
