.navbar-nav {min-height:100px !important
                       
}
.navbar-nav > li > a  {margin-top:40px;}

.img-img{
    margin-top:-30px;
}

.button {
    
display: inline-block;
border-radius: 4px;
background-color: #8ac832;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 10px;
width: auto;
transition: all 0.5s;
cursor: pointer;
margin-top:40px;
}
.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
.button span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.button:hover span {
padding-right: 25px;
}
.button:hover span:after {
opacity: 1;
right: 0;
}
.header {
position: absolute;
left: 0;
z-index: 10;
height: 90vh;
}
.header-wrapper {
height: 100.2%;
width: 30vw;
min-width: 430px;
background-color: #000;
position: absolute;
top: -10;
left: 0;
z-index: 10001;
transform: translateX(-100%);
}
.header-wrapper.expanded.has-notif .nav-sub-holder {
padding-top: 80px;
}
.header-page-title, .header-search-input {
font-weight: 400;
padding: 0 24px;
line-height: 64px;
}
.header-wrapper:before {
content: '';
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: #222629;
}
.header-wrapper.expanded {
transform: skew(-20deg);
top: 0px;
direction: rtl;
pointer-events: none;
}
.nav-sub-holder {
z-index: 10005;
position: relative;
padding: 55px 10px;
direction: ltr;
transform: skew(20deg);
}
.nav-sub-holder .inner-skew {
transform: skew(-20deg) translateX(-110px);
pointer-events: all;
}
.nav-sub-holder .inner-skew .inner-skew-back {
transform: skew(20deg) translateX(110px);
display: inline-block;
width: 100%;
}
.nav-sub-holder .inner-skew h1 {
color: #fff;
font-size: 2.7rem;
}
.home-slider-wrapper {
height: 90vh;
overflow: hidden;
background-color: #222629;
}
.homepage-slider {
width: 200vw;
padding-left: 36vw;
font-family: 'Maven Pro', sans-serif;
background-color: #202020;
}
.homepage-slider .home-slide {
width: 40vw;
height: 100vh;
float: left;
transform: skew(-20deg) translate3d(0, 0, 0);
margin-left: -50px;
transition: all .5s ease;
position: relative;
overflow: hidden;
perspective: 1px;
}
.home-slide-inner, .home-slide-inner h1 {
position: absolute;
transition: all .5s ease;
}
.home-slide#slide1 {
margin-left: -6vw;
background-color: #4caf50;
}
.home-slide#slide3 {
background-color: #03a9f4;
}
.home-slide#slide2 {
width: 30vw;
margin-left: -90px;
}
#slide1.over, .home-slide#slide1:hover {
width: 56vw;
}
.home-slide#slide2:hover {
width: 40vw;
margin-right: -5vw;
margin-left: -8vw;
}
.home-slide#slide3:hover {
width: 70vw;
margin-left: -22vw;
}
.home-slide .para {
display: none;
}
.homepage-slider .home-slide:hover .home-slide-inner p.para {
display: block;
position: absolute;
font-size: 30px;
color: #000;
font-weight: 500;
margin-top: 46px;
width: 53%;
left: 30%;
margin: 35px 0 0px;
line-height: 3vw;
}
.home-slide-inner {
height: 100%;
width: 70vw;
background-color: #4CAF50;
background-image: url("./assets/img/bo.png");
background-size: cover;
transform: skew(20deg) translateX(-20%) translate3d(0, 0, 0);
cursor: context-menu;
}
#slide1 .home-slide-inner {
background-color: #4CAF50;
background-image: url("./assets/img/bo.png");
}
#slide1 .home-slide-inner::before {
background-color: #4CAF50;

}

#slide3 .home-slide-inner {
background-color: #03a9f4;
background-image: url("./assets/img/Investor.png");
}
#slide1.over, .home-slide#slide1:hover .home-slide-inner {
background-image: none;
background-color: #ffffff;
}
#slide3.over, .home-slide#slide3:hover .home-slide-inner {
background-image: none;
background-color: #ffffff;
}
#slide1.over .home-slide-inner, .home-slide#slide1:hover .home-slide-inner,
#slide3.over .home-slide-inner, .home-slide#slide3:hover .home-slide-inner {
transform: skew(20deg) translateX(-12%) translate3d(0, 0, 0);
}
.home-slide:hover .home-slide-inner:before {
content: '';
z-index: 0;
transition: .2s ease-out;
background: -webkit-linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
background: -moz-linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
background: linear-gradient(-90deg,#fff 0,#f2f2f2 85%);
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
}
.home-slide.greyed-out {
filter: grayscale(100%);
}
.home-slide-inner h1 {
bottom: 30%;
width: 53%;
left: 20%;
color: #FFF;
margin: 35px 0 0px;
font-size: 4vw;
font-weight: 600;
line-height: 3vw;
cursor: context-menu;
text-shadow: 2px 2px #0000007d;
}
.homepage-slider .home-slide:hover .home-slide-inner h1 {
color: #000000;
text-shadow: none;
display: none;
}
.home-slide-inner .filledbutton {
border: none;
border-radius: 50px;
display: inline-block;
opacity: 0;
font-weight: 700;
text-transform: none;
transition: all .5s ease;
font-size: 18px;
width: 200px;
color: #ffffff;
line-height: 40px;
text-align: center;
}
.home-slide-inner h1 .filledbutton {
display: none;
}
@media only screen and (max-width:1200px) {
.home-slide-inner h1 .filledbutton {
display: inline-block;
}
.homepage-slider .home-slide:hover .home-slide-inner h1 {
color: #000000;
text-shadow: none;
display: block;
}
.homepage-slider .home-slide:hover .home-slide-inner p.para {
display: none;
}
}
#slide1 .filledbutton {
background: transparent;
border: 2px solid #449b48;
color: #449b48;
}
#slide3 .filledbutton {
background: transparent;
border: 2px solid #03a9f4;
color: #03a9f4;
}
@media only screen and (max-width:1200px) {
.header {
position: relative;
left: 0;
z-index: 10;
height: auto;
}
.header-wrapper {
position: relative;
width: 100vw;
min-width: 1px;
background-color: #202020;
top: 0;
}
.header-wrapper.expanded {
transform: none;
width: auto;
}
.nav-sub-holder {
padding: 0;
transform: none;
}
.nav-sub-holder .inner-skew {
overflow: visible;
transform: none;
}
.nav-sub-holder .inner-skew .inner-skew-back {
transform: none;
max-height: 100vh;
overflow: auto;
padding: 64px 16px;
}
.nav-sub-holder .inner-skew h1 {
color: #fff;
font-size: 1.5rem;
text-align: center;
}
.home-slider-wrapper {
height: auto;
margin-top: 0px;
}
.homepage-slider {
width: 100vw;
padding-left: 0;
}
.home-slide#slide1 {
margin-left: 0vw;
background-color: #4caf50;
}
.homepage-slider .home-slide {
width: 50vw;
height: auto;
float: left;
transform: none;
margin-left: 0;
transition: all .5s ease;
position: relative;
overflow: hidden;
perspective: 1px;
}
.home-slide-inner, .home-slide-inner h1 {
position: absolute;
transition: all .5s ease;
}
.home-slide-inner .filledbutton {
display: inline-block;
opacity: 1;
margin-top: 15px;
}
.home-slide-inner h1 {
left: 0;
right: 0;
margin: 20px auto;
}
.home-slide-inner h1 {
left: auto;
font-size: 25px;
text-align: center;
line-height: 24px;
width: 100%;
top: 0;
margin: 0;
bottom: auto;
position: relative;
}
.homepage-slider .home-slide:hover .home-slide-inner h1 {
color: #ffffff;
}
#slide1.over .home-slide-inner, .home-slide#slide1:hover .home-slide-inner {
transform: none;
background-image: url(./assest/img/bo.png);
}
#slide3.over, .home-slide#slide3:hover .home-slide-inner {
background-image: url(./assest/img/Investor.png);
background-color: #ffffff;
}
#slide1.over .home-slide-inner, .home-slide#slide1:hover .home-slide-inner,
#slide3.over .home-slide-inner, .home-slide#slide3:hover .home-slide-inner {
transform: none;
}
.home-slide:hover .home-slide-inner:before {
background-image: none;
transition: none;
}
#slide1.over, .home-slide#slide1:hover {
width: 50vw;
}
.home-slide#slide3:hover {
width: 50vw;
margin-left: 0vw;
}
.home-slide-inner {
height: 100%;
width: 50vw;
padding: 100px;
background-size: cover;
transform: none;
position: relative;
}
}
@media only screen and (max-width:768px) {
.homepage-slider .home-slide {
width: 100%;
margin-left: 0;
transform: none;
height: auto;
border-radius: 0;
}
.home-slide#slide1 {
margin-left: 0vw;
background-color: #4caf50;
}
.home-slide#slide2 {
width: 100%;
margin: 0;
}
.home-slide#slide2:hover {
width: 100%;
margin: 0;
}
.home-slide-inner {
width: 100%;
transform: none;
background-color: #60bc57;
background-image: none;
position: relative;
padding: 20px;
}
#slide1.over, .home-slide#slide1:hover {
width: 100%;
margin: 0;
}
#slide1 .home-slide-inner {
background-image: none;
background-color: #4CAF50;
}
#slide3 .home-slide-inner {
background-image: none;
background-color: #58c7f2;
}
#slide1.over .home-slide-inner, .home-slide#slide1:hover .home-slide-inner {
transform: none;
}
.home-slide#slide3:hover {
width: 100%;
margin: 0;
}
.home-slide-inner h1 {
left: auto;
font-size: 20px;
line-height: 24px;
width: 100%;
top: 0;
margin: 0;
bottom: auto;
position: relative;
}
.home-slide-inner .filledbutton {
display: inline-block;
opacity: 1;
margin-top: 15px;
}
#slide1 .filledbutton {
background: #449b48;
color: #fff;
}
#slide3 .filledbutton {
background: #03a9f4;
color: #fff;
}
}
#slide1 .filledbutton:hover {
background: #449b48;
color: #ffffff;
}
#slide3 .filledbutton:hover {
background: #03a9f4;
color: #ffffff;
}
.home-slide.hover .filledbutton, .home-slide:hover .filledbutton {
opacity: 1;
}
.home-slide .revealtext {
opacity: 0;
display: none;
}
.home-slide:hover .revealtext {
opacity: 1;
display: block;
}   
#home-three{
background-color: #f4f4f4;
width:100% ;
} 
#card{
background-color:  #f4f4f4;
box-shadow: 1px 1px 2px 2px #d0c9c982;
margin-top:20px; 
height: auto;
}

#card:hover{
cursor: pointer;
animation-name: bounce;
-moz-animation-name: bounce;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
animation-iteration-count: 2s; 

}

#card button{
border: 1px solid black;
background: transparent;
background-color: #dbf2bb;
margin-left: 113px;
display: none;
box-shadow: 1px 1px 2px 2px black;
}

#card:hover button{
display: block;
}

#data{
height: auto; 
background-color: #f4f4f4;
font-size: 12px;
position: relative;
padding: 10px;
}

#avtr{
background-color: #dbf2bb;
position: absolute;
width: 150px;
height: auto;
margin-left: -53px;
margin-top: 34px;
border: 2px solid black;
}
.fas{
font-size: 19px;
}