#main{
    height: auto;
    padding: 10px;
    
    box-shadow: 2px 2px 5px 5px #e6ecdd70;
}
#log,#sign{
    background-color: #8ac832;
    color:white;
    border: transparent;
    text-decoration: none;
    padding: 10px;
}
#log:hover,#sign:hover{
    background-color: #dbf2bb;
}
.line{
    width: 145px;
    border: 1px solid;
}
#connectgoogle,#connectlink {
    border-radius: 35px;
    width: 59px;
    height: auto;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 19px;
    border: none;
    
  }
  
  #connectgoogle:hover,#connectlink:hover {
      opacity: 0.7;
  }
  
  #connectgoogle {
    background: #dd4b39;
    color: white;
  }
  
  #connectlink {
    background: #007bb5;
    color: white;
  }
