*{
    font-family: Maven Pro;
}
#infinite-list {
    /* We need to limit the height and show a scrollbar */
    width: 200px;
    height: 300px;
    overflow: auto;
  
    /* Optional, only to check that it works with margin/padding */
    margin: 30px;
    padding: 20px;
    border: 10px solid black;
  }
  
  #profile_d{
    font-size: 13px;
    padding: 2px;
    text-align: left;
    margin-top: 10px;
  }
  
  #editp {
      color: black;
  }
  tr:hover{
     background-color: #8ac832;
     color:white;
  }
  #profile_b{
    font-size: 13px;
    padding: 2px;
    border: 1px solid #dcd7d7;
    margin-top: 10px;
  }
  #profile_i{
    height: 112px;
    font-size: 13px;
    padding: 12px;
    border: 1px solid #dcd7d7;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  