.nav-link{
    font-size: 13px;
    color: black; 
}
.nav-link:hover{
    color: #8ac832;
}
#bo:hover{
    color: #8ac832;
}
#in:hover{
    color: #8ac832;
}
.bo-content{
    display: none;
    padding: 3px;
    list-style: none;
    width: 164px;
    text-align: left;
    border: 1px solid #e0d7d7d9;
    box-shadow: 1px 1px 2px 2px #dcd2d24d;
}
.in-content{
    display: none;
    padding: 3px;
    list-style: none;
    width: 164px;
    text-align: left;
    border: 1px solid #e0d7d7d9;
    box-shadow: 1px 1px 2px 2px #dcd2d24d;
}
#bo:hover .bo-content{
    display: block;
    border-top: 4px solid #8ac832; 
    }
#in:hover .in-content{
    display: block;
    border-top: 4px solid #8ac832; 
}   
#bo:hover .bo-content li a:hover{
    font-size: 12px;
}
#in:hover .in-content li a:hover{
    font-size: 12px;   
}
img{
    width: 113px;
    height: auto;
    margin-top: -42px;
    margin-right: 39px;
}
.logbut {
    display: inline-block;
    border-radius: 4px;
    background-color: #8ac832;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 9px;
    width: 84px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 580px;
   
}

  
  .logbut span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .logbut span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    
    
    transition: 0.5s;
  }
  
  .logbut:hover span {
    padding-right: 9px;
  }
  
  .logbut:hover span:after {
    opacity: 1;
    
  }